#capttcha-jigsaw {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #jigsaw-imager {
        width: 100%;
        height: calc(100% - 40px);
        margin: 0 20px;
        position: relative;
        #imager-check {
            width: calc(100% - 40px);
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        #imager-operation {
            position: absolute;
            top:0;
            left:0;
            width: 45px;
            height: 100%;
            z-index: 9999;

            #operation-img {
                width: 60px;
                height: 60px;
                position: absolute;
                top: 27%;
                left:0;
                -moz-box-shadow:4px 4px 5px #ccc; 
                -webkit-box-shadow:2px 2px 5px #ccc; 
                box-shadow:2px 2px 5px rgb(145, 142, 142);
            }
        }
    }

    #jigsaw-operation {
        height: 40px;
        margin: 5px 20px;
        background-color: #f7f9fa;
        border:  1px solid #e4e7eb;

        #operation-btn {
            height: 40px;
            width: 40px;
            background-color: #fff;
            box-shadow: 0 0 3px rgb(0 0 0 / 30%);
            border: 1px solid #cccccc;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #operation-btn:hover {
            background-color: rgb(83, 133, 241);
            cursor: pointer;
        }
    }
}