@page
@using Microsoft.Extensions.Localization
@using MaigcalConch.Abp.Captcha.Localization
@model MaigcalConch.Abp.Captcha.Web.Pages.Captcha.IndexModel
@inject IStringLocalizer<CaptchaResource> L
@{
}
<h1>Captcha</h1>
<p>@L["SamplePageMessage"]</p>
